body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: min(1250px, 80vw);
    gap: 1%;
    margin: 0 auto;
}

.star {
    font-size: small;
    vertical-align: text-top;
}

img {
    width: 100%;
   }

/* flipping card animation */
/* container */
.flip-box {
    width: 24%;
    perspective: 1000px;
    margin-bottom: 25%;
  }
  
  /* container for front and back of the card */
  .flip-box-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box.is-flipped .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-front {
    transform: rotateY(180deg);
  }